<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>{{ title }}</h1>
    <img src="../assets/angular-frontenders.png" />
</div>
zone:
<select [(ngModel)]="configuration.zone">
    <option *ngFor="let x of zones" [value]="x.id" [selected]="configuration.id == x.id">{{ x.name }}</option>
</select>
<br />
humidity [0-1]:
<input [(ngModel)]="configuration.humidity" /><br />
<button (click)="click()">Execute strategy</button>

<router-outlet></router-outlet>